interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 N8NBQqKKOHvBjtv3QTW824upgEJ1XLmQXpw2o/IEyCH8Hce+eZQ6rX4jN7pqobfXnsjyxyajgHbBIl0+8mt0yw==","ds":["36008
        13 2 1e6dfc34dd9ba3c5878a74dea8f219597516733b4e76a653cda50d3f53e290ec","36008
        13 4 d1d82e1822b50963e759980d9fba1d40ab6f09b206791cab37581ddd6b6c41b5414d2eeb2233640f1f60f03c2e6fd30e"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"3c9cede6-2e83-4c0f-b52b-fd41b3352187","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"codjQPSVf4yzU2oPW64EVjQC9sF8"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/3c9cede6-2e83-4c0f-b52b-fd41b3352187/policies/rrsets/
  response:
    body:
      string: '{"id":"0d648628-86fe-4d53-8232-1c6f2e9cc05a","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/3c9cede6-2e83-4c0f-b52b-fd41b3352187/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
