interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 aq3Bmzw791qYXjsmeq4KD4EPMZlnvoob4JegP/qkKVL418qNNphpXMC/RlrMUIE2x1SmRFFUzid1lRmZEzAnZQ==","ds":["5206
        13 2 973dc96048066aa5dad6c59102e8ea90b2e6f711de5640ff0efc3a7fd681712c","5206
        13 4 9631573436f88d24245bb06a29dca1e239f021821b5283044ce1aeb54e11ca64caa441279b79d5db1ef23fbe66ac2a55"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"d09c6fdc-2708-476e-bc15-9b1619a6bd46","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"T34nfB4C8saUh6cx8H5QfgzQzS3h"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/d09c6fdc-2708-476e-bc15-9b1619a6bd46/policies/rrsets/
  response:
    body:
      string: '{"id":"6e55fc22-c498-473a-ade4-6c1afce0dbfb","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"domain": "test-suite.test", "subname": null, "type": null, "perm_write":
      false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/d09c6fdc-2708-476e-bc15-9b1619a6bd46/policies/rrsets/ff4ecd5d-c9d3-4702-b9fc-396579155c24/
  response:
    body:
      string: '{"id":"ff4ecd5d-c9d3-4702-b9fc-396579155c24","domain":"test-suite.test","subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/d09c6fdc-2708-476e-bc15-9b1619a6bd46/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
