interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 6E6BP7lTB2zI/chZkEViHYNl2nSIRAPugITWFGTcm4qZVnEdBg2s8LjLW2t8Ww4fdB8CMB5cNAzg7JZjR8GkGQ==","ds":["31530
        13 2 a1a3184f5d0dc5ad7bfecfa42690acaf0bd15bbbc012f0b377e0d41fbb11bd89","31530
        13 4 e2f926074a6afe5e6a622f8f98a12e59de045747e403f664b8e8ef09ead19047e61d350c15ee4b6fa2a91e5fc4e66060"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"e23cd164-2fc1-4981-b872-b6e16b1887bc","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"xpGZsPS328g5FYMgFSShc2ZMceNv"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/e23cd164-2fc1-4981-b872-b6e16b1887bc/policies/rrsets/
  response:
    body:
      string: '{"id":"f00e6a00-6bab-414c-8e5d-01e2b3d47020","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"domain": null, "subname": null, "type": "AAAA", "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/e23cd164-2fc1-4981-b872-b6e16b1887bc/policies/rrsets/3cdd4de9-f0dd-46cc-a8fd-ef95ed635927/
  response:
    body:
      string: '{"id":"3cdd4de9-f0dd-46cc-a8fd-ef95ed635927","domain":null,"subname":null,"type":"AAAA","perm_write":false}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/e23cd164-2fc1-4981-b872-b6e16b1887bc/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
