interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 NOm7Cs4ez7WfhuKi8EoOqupmP57Q0Xnp2K0AgY9G/ohHi5lFeZuiXTgyuo6iFxkxnryRuepxw/hmuS3aMSWi4A==","ds":["57601
        13 2 6973af51f345aef1cb28bbff145a71c5d3e6d4fe5fd50102e08b72f8f9b20e7f","57601
        13 4 4166ac98f20382f803bf792bca40cd62777b6838c39113f1a99ab61315ea798c6bd4802f1afe3328953ed7f9e71723d1"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"c86682e1-f8f4-49bb-82d4-4677de82d45c","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"VoC9oKK1Hh7ajDXANzG3RmmAXXXe"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/c86682e1-f8f4-49bb-82d4-4677de82d45c/policies/rrsets/
  response:
    body:
      string: '{"id":"12daf970-57e7-4c76-a5c8-d33fe93b8212","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"subname": "test2", "type": "AAAA"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/c86682e1-f8f4-49bb-82d4-4677de82d45c/policies/rrsets/add2cc2b-187a-453b-bfec-16948c73d974/
  response:
    body:
      string: '{"id":"add2cc2b-187a-453b-bfec-16948c73d974","domain":null,"subname":"test2","type":"AAAA","perm_write":true}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/c86682e1-f8f4-49bb-82d4-4677de82d45c/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
