interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 Xzvmz2Xv918057OTyeHNsTDJLODRIFeVwTrn7lifqs6Ubu74hLGo2Nte46MJ04EY++6yug3FBnBK55Eu+s47Tw==","ds":["10849
        13 2 2e0362f367b7173b917a9069a9821cbaa99231a14f6528d8344675c05c73d181","10849
        13 4 dfa6014ab256fad23d22e6180705002c1ff4bccc64fe4f7b88d4c6de8145e06acceeaab02a93b305e59929b1ff2f81b8"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"8db978fd-e7f6-48ad-9efa-169d1d6af5be","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"6C5E9yXETYqGX8gRSKLEY9HqLdVy"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/8db978fd-e7f6-48ad-9efa-169d1d6af5be/policies/rrsets/
  response:
    body:
      string: '{"id":"559d1f7f-e87c-40c8-b5ad-84460bf69fec","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"domain": null, "type": "AAAA", "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/8db978fd-e7f6-48ad-9efa-169d1d6af5be/policies/rrsets/21163b76-018c-4c3e-a3a4-bbe70ed482f0/
  response:
    body:
      string: '{"id":"21163b76-018c-4c3e-a3a4-bbe70ed482f0","domain":null,"subname":"test","type":"AAAA","perm_write":false}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/8db978fd-e7f6-48ad-9efa-169d1d6af5be/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
