interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 aFFNsufTZERCxiJ7Km/HutB/vIgXdZWN7VmEL2e+nmIJGteZchGt0PEd6Od/H3/4lU76PizsuNC8AHXFhU4cDw==","ds":["12653
        13 2 9d19ec0d3aef92e7353a1ce63a6b82f4ec11bff46668c8b2ddce9cbb5f9b4a7e","12653
        13 4 0600a6e59d923d31a252e499f84a4655f62841007eb5eb8fcb9fffe32f063391eafa6e90cb055a673145dda7c119db1b"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"2f8ca4b3-e548-4f07-9202-5fb29fd5980e","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"8ts4gRhUpt7zV7zZVkAnD7YGXyUC"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/2f8ca4b3-e548-4f07-9202-5fb29fd5980e/policies/rrsets/
  response:
    body:
      string: '{"id":"40fbd80d-a1fa-4895-b293-719657f9a573","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/2f8ca4b3-e548-4f07-9202-5fb29fd5980e/policies/rrsets/
  response:
    body:
      string: '{"detail":"Conflict: duplicate key value violates unique constraint
        \"unique_policy\"\nDETAIL:  Key (token_id, domain_id, subname, type)=(2f8ca4b3-e548-4f07-9202-5fb29fd5980e,
        null, null, null) already exists."}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/2f8ca4b3-e548-4f07-9202-5fb29fd5980e/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
