interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 c2C0GYjT828pgDrrfRaHv4pf96qNlBU+xGjnRk/nulZhbQHZZVDyY6z4LP7uFWembjS/124clWpdYj6IpDGdSg==","ds":["58751
        13 2 2d13929b6b0a92e35363f838c73457ba3ae243e38f234a39b102a443b1f4acef","58751
        13 4 7b8ed0565b84cf0f4f72afee9adb1dce4c5ec2f07673763fc3f76d6ba32473a2cebb2a715e8965f83b0c9ae0cd3bab1a"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"72379bf1-52a1-47c3-9662-014aaaeb98d7","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"ujvDwVs8sUmcbAUvNDVCV8YvkHQW"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/72379bf1-52a1-47c3-9662-014aaaeb98d7/policies/rrsets/
  response:
    body:
      string: '{"id":"4d2acf2b-0873-4138-b77a-f36e166153f2","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"domain": "test-suite.test", "subname": "test2", "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/72379bf1-52a1-47c3-9662-014aaaeb98d7/policies/rrsets/07150267-184f-4dd8-8cf5-deb795b12123/
  response:
    body:
      string: '{"id":"07150267-184f-4dd8-8cf5-deb795b12123","domain":"test-suite.test","subname":"test2","type":"A","perm_write":false}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/72379bf1-52a1-47c3-9662-014aaaeb98d7/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
