interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 U3xJbZ/sOdyoVsNiGKRIxufXWvI949X1X4MIITtuXpPvqUdpwQaZMz1nS2Rr/i2L3p+Mkslr9JSH/0AUyAd01g==","ds":["33269
        13 2 c82c1db4eabbd3a052a8bc0026296f8b967424d4060fd11b5a03ac8b84143bd0","33269
        13 4 ee2f111ff673e5767174294c63aa71f751f8d3296b6ec8c1b79f0b783a0577cb97f4d1cb27ad42674781148e0a78ddf5"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"8070ef57-1f14-400b-a722-2a77eee9d417","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"AGmb6Laa4EJTnM3sfMr3ZuZcFnXf"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/8070ef57-1f14-400b-a722-2a77eee9d417/policies/rrsets/
  response:
    body:
      string: '{"id":"731a1492-d420-43ea-bd4f-e554d3f90f4b","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"domain": null, "subname": null, "type": "AAAA", "perm_write": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/8070ef57-1f14-400b-a722-2a77eee9d417/policies/rrsets/cb10393f-ffb6-440c-927b-fcfd97413b88/
  response:
    body:
      string: '{"id":"cb10393f-ffb6-440c-927b-fcfd97413b88","domain":null,"subname":null,"type":"AAAA","perm_write":true}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/8070ef57-1f14-400b-a722-2a77eee9d417/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
