interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 UZAWPc7gEMzB0yHRcWS8V27NALc2hkUy/fw5koeSyKHnyISYxH3f3dLq2WfvwkO/TyyqjHodYDgGV7FEb/LVBg==","ds":["37151
        13 2 e1a88a65e2120eea31e19ebe61adeded49a0af210b356fb89badbee3ec4e9cbe","37151
        13 4 23f90dbe583b8ec8e45f479174954487bfd74d0ae80c466a85c759d6ac173db378e4a8b4646a4c1eaa8092a9fbcfe4a6"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"073b396e-d4e3-4463-8d41-29e428357ddc","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"JCKHizMeFpyRPV5e1Lwyat9iRfp1"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/073b396e-d4e3-4463-8d41-29e428357ddc/policies/rrsets/
  response:
    body:
      string: '{"id":"9267648b-65ca-45d7-8f9d-c47771ff6e37","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"domain": "test-suite.test", "subname": null, "type": null, "perm_write":
      true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/073b396e-d4e3-4463-8d41-29e428357ddc/policies/rrsets/bc0e1d7f-9bea-4707-94c8-9ab75fa84b1a/
  response:
    body:
      string: '{"id":"bc0e1d7f-9bea-4707-94c8-9ab75fa84b1a","domain":"test-suite.test","subname":null,"type":null,"perm_write":true}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/073b396e-d4e3-4463-8d41-29e428357ddc/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
