interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 /PK/K2WC1DFgJchUT8V8hI3NGZigDHGR+ijbbDPHwTLqtEyio/f0k4LePDlnOVm4bPZb2VcK1soyKFC7dFgMnw==","ds":["48292
        13 2 2b977dd58876e029afb840dbcfba749e54e537128d06d2185371ec3d78980d90","48292
        13 4 c5cd7ac42f2507b018e3cda38be0647659ecfa3a949a6b91ef0b5a2dbb091c605860f31bc73584108cd4b294b58a65e7"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"7bd656be-9c02-4ec4-988f-2ab8d11cc5ee","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"Hrz8q2bdmB6sV51ySZ3fn3sYnbir"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/7bd656be-9c02-4ec4-988f-2ab8d11cc5ee/policies/rrsets/
  response:
    body:
      string: '{"id":"34fd28c3-9591-4eaf-af5f-9908367274ce","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"domain": "test-suite.test", "subname": "test2", "perm_write": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/7bd656be-9c02-4ec4-988f-2ab8d11cc5ee/policies/rrsets/5c658cac-678b-4bb5-bd62-63064cf7669a/
  response:
    body:
      string: '{"id":"5c658cac-678b-4bb5-bd62-63064cf7669a","domain":"test-suite.test","subname":"test2","type":"A","perm_write":true}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/7bd656be-9c02-4ec4-988f-2ab8d11cc5ee/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
