interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 3eMS8kTNlZc/H5sjUZ11iZFb4UGPdC5fMMYo1eKyH8be0DuDmJR7c7MVL2fT5CNE0xcFRZNDq4H/fOR/nw0XOw==","ds":["46753
        13 2 294ba566b8dbfc157119926ffbd25678553fe0b4e64a798d6021517a7fafb7fb","46753
        13 4 a5754b6895599b43b8a55a36578e1d1f441bbe93df49596846fca0dceefb3982795713444593ea600ecedb5942af3aae"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"3220baab-e820-41f0-82c4-e6a02a2426fc","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"JpLzECkGfnChfUodPqWFSjsUwGp3"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/3220baab-e820-41f0-82c4-e6a02a2426fc/policies/rrsets/
  response:
    body:
      string: '{"id":"5bd67acd-4a62-467b-97a4-a2b68ac6195f","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"subname": "test2", "type": "AAAA", "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/3220baab-e820-41f0-82c4-e6a02a2426fc/policies/rrsets/3f599d2a-951a-4d63-a92b-c033499d4726/
  response:
    body:
      string: '{"id":"3f599d2a-951a-4d63-a92b-c033499d4726","domain":null,"subname":"test2","type":"AAAA","perm_write":false}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/3220baab-e820-41f0-82c4-e6a02a2426fc/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
