interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 7oMjmv+oRsEWpoj2Trg9BVsDylTaIonqk1ic5tg6xDKDmTfj2mS9ZJQ/iVq8eIQETvfcJOBcW1fZN/QQ2de9HQ==","ds":["23151
        13 2 98d45d0230449d887969a00f7dd44d73bed770a5766163d31cb72578570134a1","23151
        13 4 fe53489e5838648369d06f5d1d2f7cb8a92543e9c461c47e8f6c4fca89be261b386bcff8512c6f4191338e57c84a3143"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"ee5709b9-3f21-4884-bb90-870f6acb84bd","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"nU5Dbjk4PJxsFp4TR7RVhbm2MR8b"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/ee5709b9-3f21-4884-bb90-870f6acb84bd/policies/rrsets/
  response:
    body:
      string: '{"id":"5e4d3256-ff7f-41ea-b830-27fa6b825cfc","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"domain": null, "subname": "test2", "type": null, "perm_write": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/ee5709b9-3f21-4884-bb90-870f6acb84bd/policies/rrsets/50306937-4f88-4648-86ff-5a5d1f76a568/
  response:
    body:
      string: '{"id":"50306937-4f88-4648-86ff-5a5d1f76a568","domain":null,"subname":"test2","type":null,"perm_write":true}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/ee5709b9-3f21-4884-bb90-870f6acb84bd/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
