interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 wj8kuirxAFxCtLBW3H5GdLbyFJ9gdtP1kgrAIIZ7GaeaBDWQkJBEIq+5N0wOJVxp6m42/nD6F2JN9u9alu5+Kg==","ds":["4271
        13 2 aec7ed3418d5a7b414467193ebc24d7ed2bda88925a49932bc70ec7aa1e52af2","4271
        13 4 1470eb9acdaa1a675a6ee1c6f55f5a441de84bc8b9ac6c588fd9df99c725ccbc5aceacaaf655273ff3df0fd55ce21225"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"3f57a17c-ea4e-4b54-b712-865da10ee2ab","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"qcmiaXFCC23Umya1ibkXD8E44pJT"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/3f57a17c-ea4e-4b54-b712-865da10ee2ab/policies/rrsets/
  response:
    body:
      string: '{"id":"37fa0f68-d4d5-4638-8f66-8ab751ef9190","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"subname": "test2", "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/3f57a17c-ea4e-4b54-b712-865da10ee2ab/policies/rrsets/c03b87da-f8d4-48e6-a39c-11972af6683e/
  response:
    body:
      string: '{"id":"c03b87da-f8d4-48e6-a39c-11972af6683e","domain":null,"subname":"test2","type":"A","perm_write":false}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/3f57a17c-ea4e-4b54-b712-865da10ee2ab/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
