interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 NJv+h9jy/8xLPwocCwg2vnYe6nGu+fdlLt2tC5E5D2M3dHAQp+/ley7nYrUiSNiMkhq3qOWE0qnCBqjC0bqolg==","ds":["54006
        13 2 f2cafae5d835f6dabfbaf1fe8f87d70cb15f7e4549fc7ec7309f9b9fcf49707e","54006
        13 4 2dcef3180d77ffaacea2894d258d708b944823a0d48191fdd45c6709af165a9ed17af16fda88837cdf6366914ee26bd4"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"ae7b0be8-3f1e-46c9-9a0a-02f6aa24e597","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"e4s82LfmvLPe6vd8abD2WsixwEZF"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/ae7b0be8-3f1e-46c9-9a0a-02f6aa24e597/policies/rrsets/
  response:
    body:
      string: '{"id":"48aa1a8d-a93c-4db1-b5f4-78edd025f5f1","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"domain": "test-suite.test", "subname": null, "type": "AAAA"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/ae7b0be8-3f1e-46c9-9a0a-02f6aa24e597/policies/rrsets/f75d7f70-3ece-4daf-b3b9-de2de2ff82f0/
  response:
    body:
      string: '{"id":"f75d7f70-3ece-4daf-b3b9-de2de2ff82f0","domain":"test-suite.test","subname":null,"type":"AAAA","perm_write":true}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/ae7b0be8-3f1e-46c9-9a0a-02f6aa24e597/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
