interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 SuzwZLBgVXX8J3W7s1VIOPI/RnqSBVpo+ARwKy2hfYBxZ2NSefjQgcRBo71W+HtL23YhBDVKW6h2B0DWmcFbnQ==","ds":["32322
        13 2 aa788a52813966b0ae7cbc42f7c9d99812068ed8e9d5bfcd3ad68cd43bfe7289","32322
        13 4 bf3aece2f9606b46572fa540baf8f37a5bd376676a53e6f2ccb6bb7f8d2888d938b2795c8193eb33208d20ae6e9cf110"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"b9b77527-9e2a-43f9-ae51-0e8c80cbad22","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"sTeGHVJ2wyRndCJByfbpUPaaqAyd"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/b9b77527-9e2a-43f9-ae51-0e8c80cbad22/policies/rrsets/
  response:
    body:
      string: '{"id":"f51530c5-0e62-4f2e-b7cd-8f5bf9f65b46","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/b9b77527-9e2a-43f9-ae51-0e8c80cbad22/policies/rrsets/4595134e-fc14-44f8-8340-a5a14407cce6/
  response:
    body:
      string: '{"id":"4595134e-fc14-44f8-8340-a5a14407cce6","domain":null,"subname":"test","type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/b9b77527-9e2a-43f9-ae51-0e8c80cbad22/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
