interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 k3loyaEe1dmUN/6jEUgEd/4Mi6orVnm7KW/hBiU5fIMcR39rVz+iHeTvSpknFlOqQ151FX0CrT13CRSnulgL4w==","ds":["28377
        13 2 b658cabca640292ed03a191aa9c2bcd9ab2846d826f21340adb59ebbbab2c661","28377
        13 4 60e1b8c50615a716386faebff78d2ecfecd2c6600b817c4f12e4f5fc0604be83c848a09a655e6798add894d0bb22632c"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"3a2ac3d0-2451-4a69-a17c-851d72d6acf0","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"3EdtZScbLTG37y9BVz9xXm5CeES7"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/3a2ac3d0-2451-4a69-a17c-851d72d6acf0/policies/rrsets/
  response:
    body:
      string: '{"id":"d5313f82-8d43-4638-a752-61770614a13e","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"subname": null, "type": "AAAA", "perm_write": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/3a2ac3d0-2451-4a69-a17c-851d72d6acf0/policies/rrsets/4ebee367-d627-437b-9a7b-38a236371e75/
  response:
    body:
      string: '{"id":"4ebee367-d627-437b-9a7b-38a236371e75","domain":null,"subname":null,"type":"AAAA","perm_write":true}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/3a2ac3d0-2451-4a69-a17c-851d72d6acf0/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
