interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 4OsMvXK/me4CqtCUG2w3AI6uzmDQ7Df7WoWn5MwLVwTagDWylKyowjBHM/CEsR+7NtPg+4dPbBvNjXALXmAQtg==","ds":["48561
        13 2 e92b5ef85c4af7350d0b25ae1f67e58bbd63e663132f2df9be097d529d53fc1f","48561
        13 4 264fd328ccbbf77f81dcdd68cc2c15b814c8fa61b4493661a978869913c82557cfb13745786148db2c756bdc19dd961c"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"name": ""}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"a22596af-57fb-4f09-ab3e-24f7e8f47263","created":"2024-01-01T00:00:00.000000Z","last_used":null,"max_age":null,"max_unused_period":null,"name":"","perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"is_valid":true,"token":"BN8JrAFKn1bJ3rfEDpHpUeTRM6BU"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"domain": null, "subname": null, "type": null, "perm_write": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/a22596af-57fb-4f09-ab3e-24f7e8f47263/policies/rrsets/
  response:
    body:
      string: '{"id":"fff5a92b-5fbf-4259-b362-0403059316d2","domain":null,"subname":null,"type":null,"perm_write":false}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"domain": null, "type": "AAAA"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/a22596af-57fb-4f09-ab3e-24f7e8f47263/policies/rrsets/5215fc1e-bfc6-4f30-a049-a9219cf880f0/
  response:
    body:
      string: '{"id":"5215fc1e-bfc6-4f30-a049-a9219cf880f0","domain":null,"subname":"test","type":"AAAA","perm_write":true}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/a22596af-57fb-4f09-ab3e-24f7e8f47263/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
