interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 O9wuhTmP/buCJM0h1Fp9T2Ox0ZZTeMtTFqi1hzwKS7O7P21w6kyKdIJAh+bJhbY8CWRquHSR2zRQq4DaCywxFQ==","ds":["59313
        13 2 73151930e315897202cab5e909474c7b45f05119c7fa8b2374ecc5af4e1671ba","59313
        13 4 4880f23ee45af191a7436faa6024a025c1bb1f28bd96627cb489dccd62cb93d8c689f5103a44d037cff3b9a5fd3cc915"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: GET
    uri: https://desec.io/api/v1/domains/test-suite.test/rrsets/
  response:
    body:
      string: '[{"created":"2024-01-01T00:00:00.000000Z","domain":"test-suite.test","subname":"","name":"test-suite.test.","records":["ns1.desec.io.","ns2.desec.org."],"ttl":3600,"type":"NS","touched":"2024-01-01T00:00:00.000000Z"}]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: GET
    uri: https://desec.io/api/v1/domains/test-suite.test/rrsets/
  response:
    body:
      string: '{"detail":"Pagination required. You can query up to 500 items at a
        time (501 total). Please use the `first` page link (see Link header)."}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
      Link:
      - <https://desec.io/api/v1/domains/test-suite.test/rrsets/?cursor=>; rel="first"
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: GET
    uri: https://desec.io/api/v1/domains/test-suite.test/rrsets/?cursor=
  response:
    body:
      string: '[{"created":"2024-01-01T00:00:00.000000Z","domain":"test-suite.test","subname":"239.test","name":"239.test.test-suite.test.","records":["\"pagination
        test 239\""],"ttl":3600,"type":"TXT","touched":"2024-01-01T00:00:00.000000Z"},{"created":"2024-01-01T00:00:00.000000Z","domain":"test[...]
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: GET
    uri: https://desec.io/api/v1/domains/test-suite.test/rrsets/?cursor=cD0yMDI0LTA2LTE2KzIwJTNBMDIlM0E0OS4xOTg2MTYlMkIwMCUzQTAw
  response:
    body:
      string: '[{"created":"2024-01-01T00:00:00.000000Z","domain":"test-suite.test","subname":"199.test","name":"199.test.test-suite.test.","records":["\"pagination
        test 199\""],"ttl":3600,"type":"TXT","touched":"2024-01-01T00:00:00.000000Z"}]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
      Link:
      - <https://desec.io/api/v1/domains/test-suite.test/rrsets/?cursor=>; rel="first",
        <https://desec.io/api/v1/domains/test-suite.test/rrsets/?cursor=cj0xJnA9MjAyNC0wNi0xNisyMCUzQTAyJTNBNDkuMTg0NjA1JTJCMDAlM0EwMA%3D%3D>;
        rel="prev"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
