interactions:
- request:
    body: '{"name": "", "max_age": "00:01:00", "max_unused_period": "00:01:00", "perm_manage_tokens":
      false, "perm_create_domain": false, "perm_delete_domain": false, "auto_policy":
      false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/auth/tokens/
  response:
    body:
      string: '{"id":"f89f18fe-45eb-4547-bb9c-3bd5b6c67618","created":"2026-01-01T00:00:00.000000Z","last_used":null,"owner":"youremailaddress@example.com","user_override":null,"mfa":null,"max_age":"00:01:00","max_unused_period":"00:01:00","name":"","perm_create_domain":false,"perm_delete_domain":false,"perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"auto_policy":false,"is_valid":true,"token":"SxjfU2VxCYhVXR7uRtG9LZ1krnB8"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"max_age": null}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/auth/tokens/f89f18fe-45eb-4547-bb9c-3bd5b6c67618/
  response:
    body:
      string: '{"id":"f89f18fe-45eb-4547-bb9c-3bd5b6c67618","created":"2026-01-01T00:00:00.000000Z","last_used":null,"owner":"youremailaddress@example.com","user_override":null,"mfa":null,"max_age":null,"max_unused_period":"00:01:00","name":"","perm_create_domain":false,"perm_delete_domain":false,"perm_manage_tokens":false,"allowed_subnets":["0.0.0.0/0","::/0"],"auto_policy":false,"is_valid":true}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/auth/tokens/f89f18fe-45eb-4547-bb9c-3bd5b6c67618/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
