interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 8jxX2XAnz1AM4zESVt+G0PJOTWwThVKp4en4EoC9TWNYwAWhaPTmkfGxj9U++TvhUA1HsG6msPvKBA3zO/1DkA==","ds":["45175
        13 2 39cb7d770588034f700880ccee3316e9622ea6ff460e15e812e8cf6dd068d2b5","45175
        13 4 30d9e4387ab47e5ebdf2bf64764de1cfa5c2f4f157b1b5d86ea5646629179f36c5e8df9ddbb7ecf17e8e193f89e1986a"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"subname": "", "type": "A", "records": ["192.0.2.1"], "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/test-suite.test/rrsets/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","domain":"test-suite.test","subname":"","name":"test-suite.test.","records":["192.0.2.1"],"ttl":3600,"type":"A","touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
