interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 t9wEpR2fiJmwmp924L1nWDseYVWOiPTApoGvZUCuzWswblNb9kUqfodJGBwwTHPrXQQ1W8nBF2CM0qe6sS3IfQ==","ds":["35987
        13 2 22564b45be6896c318c4f832068a8a7b85d091d71b09f51e89e69bb715d500a9","35987
        13 4 e82faa09d87c4a7487057fd7353bcb12be1ba1d5af381d796947fb5f379c2c99a19f4cf099c57b2141200df7ce14d076"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"subname": "", "type": "INVALID", "records": "test-data", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/test-suite.test/rrsets/
  response:
    body:
      string: '{"records":{"non_field_errors":["Expected a list of items but got type
        \"str\"."]},"type":["The INVALID RR set type is currently unsupported."]}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
