interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 AOeicya0MrEzK+twPmzDuOKaqmvVOzgT9peKSaCx/eSKo3b48MaBA68+ZGz/5sedN4IdfAMM8QT3DmMIxaYv8A==","ds":["49840
        13 2 f96be4acb55dd4e5353de42bb415ea84563f355be3a847e202e1a33bd53280cd","49840
        13 4 7b5b396cc95bb32bd1fec1ca4aec0d7d745a170ac425d61ca367d138a5d24aa1f2c64849d32f99390919c95adb9e9542"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"subname": "test", "type": "A", "records": ["192.0.2.1"], "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/test-suite.test/rrsets/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","domain":"test-suite.test","subname":"test","name":"test.test-suite.test.","records":["192.0.2.1"],"ttl":3600,"type":"A","touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: GET
    uri: https://desec.io/api/v1/domains/test-suite.test/rrsets/?subname=test&type=A
  response:
    body:
      string: '[{"created":"2024-01-01T00:00:00.000000Z","domain":"test-suite.test","subname":"test","name":"test.test-suite.test.","records":["192.0.2.1"],"ttl":3600,"type":"A","touched":"2024-01-01T00:00:00.000000Z"}]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/rrsets/test.../A/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
