interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 5Ix7zKxEFaJCwTNxNKq/BDfidPGAQMiq/njpMEjcsfJr3LpQZkSRz2nHl69EseVYCedd2fpcaRrdD5ZgmM4hmQ==","ds":["43833
        13 2 8ec4e7835a08fc2a77610bf982a185c086709a33a5cbbfcf2f2a7200dac14400","43833
        13 4 567a4df63fe90de8f94e81cc68023c7598e9048507762af2e04dd2c5085d4fa20f0c0bf9551c4bc911441117e62d46f3"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '[{"type": "A", "subname": "test", "records": ["test"], "ttl": 3600}, {"type":
      "AAAA", "subname": "test", "records": ["test"], "ttl": 7200}, {"type": "TEST",
      "subname": "test", "records": ["test"], "ttl": 1}]'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: PATCH
    uri: https://desec.io/api/v1/domains/test-suite.test/rrsets/
  response:
    body:
      string: '[{"non_field_errors":["Record content for type A malformed: Text input
        is malformed."]},{"non_field_errors":["Record content for type AAAA malformed:
        Text input is malformed."]},{"ttl":["Ensure this value is greater than or
        equal to 3600."],"type":["The TEST RR set type is currently unsupported."]}]'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
