interactions:
- request:
    body: '{"name": "test-suite.test"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Token XXXXXXXX
    method: POST
    uri: https://desec.io/api/v1/domains/
  response:
    body:
      string: '{"created":"2024-01-01T00:00:00.000000Z","published":null,"name":"test-suite.test","keys":[{"dnskey":"257
        3 13 zA28CWI97qLsg72/iORrsqZqunhmwkDLF3/vHdGqrg1oUDo4TFt7z1nwndRhx2+xCloB5cJiQjmvlFm0lbX+Fg==","ds":["60552
        13 2 4391359b76453286fdd6387ff1025275584bd947ab14cbc7809022e0d98ea741","60552
        13 4 d4ca0e09fbb9bd2641d2a53fd0e9ecab2a433f11a02dee9f5a23e54827874c628a0548405949f45d9ae4bb2af3d704df"],"flags":257,"keytype":"csk","managed":true}],"minimum_ttl":3600,"touched":"2024-01-01T00:00:00.000000Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: GET
    uri: https://desec.io/api/v1/domains/test-suite.test/zonefile/
  response:
    body:
      string: "; Zonefile for test-suite.test exported from desec.io at 2024-01-01
        00:00:00.000000+00:00\ntest-suite.test.\t3600\tIN\tNS\tns1.desec.io.\ntest-suite.test.\t3600\tIN\tNS\tns2.desec.org.\ntest-suite.test.\t300\tIN\tSOA\tget.desec.io.
        get.desec.io. 2024010101 86400 3600 2419200 3600\n"
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - text/dns
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Token XXXXXXXX
    method: DELETE
    uri: https://desec.io/api/v1/domains/test-suite.test/
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
